.workon-header {
  background: linear-gradient(
    270.61deg,
    rgba(52, 50, 148, 0.81) 31.31%,
    rgba(0, 101, 255, 0.72) 78.24%
  );
}

.youwork-recent:hover {
  transform: translateY(-5px) scale(1.03);
  transition: all ease 0.5s;
}
.youwork-recent:active {
  transform: translateY(0) scale(1);
  transition: all ease 0.5s;
}

.yw-percent .swiper-slide {
  width: 240px;
}
