@import '../../index.scss';

.container {
    height: calc(100vh - $header-height);
    padding: 40px;
    display: flex;
    flex-direction: column;
    .top {
        margin-bottom: 20px;
        .navigate {
            display: flex;
            color: #5a5858;
            font-weight: 400;
            margin-bottom: 15px;
            span {
                display: inline-block;
                margin-right: 5px;
            }
        }
        .wrap-key {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 40px;
            .key {
                font-size: 25px;
                font-weight: 500;
            }
            .icon {
                width: 25px;
                height: 25px;
                font-weight: 100;
                cursor: pointer;
            }
        }
        .actions {
            display: flex;
            align-items: center;
            .wrap-input {
                width: 130px;
                border: 2px solid #ccc;
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-right: 20px;
                transition: all linear 0.1s;
                &.expand {
                    width: 200px;
                    border-color: $main-color;
                }
                input {
                    width: calc(100% - 20px);
                    padding: 8px 10px;
                    border: none;
                    outline: none;
                }
                .icon {
                    width: 20px;
                    height: 20px;
                }
            }
            .members {
                display: flex;
                .avatar {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    margin-right: 10px;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
                .add-member {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: #ccc;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    &:hover {
                        @apply bg-primary;
                        @apply bg-opacity-30;
                        transition: all 0.05s ease-in;
                    }
                    .icon {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
    .bottom {
        flex-grow: 1;
        flex-shrink: 0;
        @apply bg-gray-main
    }
}