@import "../../index.scss";

.container {
  height: calc(100vh - $header-height);
  padding: 40px;
  display: flex;
  flex-direction: column;
  .bottom {
    flex-grow: 1;
    flex-shrink: 0;
    @apply bg-gray-main;
  }
}
