.heading-test {
  font-size: 42px;
  background: -webkit-linear-gradient(rgb(63, 148, 234), rgb(37, 34, 222));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.test-item {
  border: 1px solid #ccc;
  border-radius: 6px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
