.board {
  width: fit-content;
  padding-right: 55px;
  margin-bottom: 40px;
  height: 100%;
  user-select: none;
  position: relative;
  display: flex;
  gap: 10px;
  .refresh {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 20px;
    padding: 4px;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    @apply bg-gray-main;
    &:hover {
      .icon {
        color: #009b77;
      }
    }
    .icon {
      color: #ccc;
      display: inline-block;
      width: 20px;
      height: 20px;
      transition: all linear 0.1s;
    }
  }
  .add-column {
    width: 268px;
    @apply bg-gray-main;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      display: block;
      width: 200px;
      height: 200px;
      object-fit: contain;
      border-radius: 50%;
    }
  }
}
