@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

// khai bai bien
$header-height: 60px;
$max-width: 1320px;
$main-color: #0052cc;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
html {
  font-size: 14px;
  color: #333;
}

@layer base {
  font-family: "Poppins", sans-serif;
}

